body{
  height:90%;
  background-color: skyblue;
}
h3{
  background-color:magenta;
  text-align:center;
  font-style:normal;
  width:99%;
}
table{
  border:1px solid black;
  font-family:sans-serif;
  border-collapse: collapse;
}
td,th {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}
th{
  background-color:lightgray;
}
footer {

position: relative;

text-align: center;

bottom: -100px;



font-family: "Cantarell";

font-size: 30px;

}
